version: '3.8'

services:

  postgres:
    image: postgres:17-alpine
    container_name: postgres-pft
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

  redis:
    image: redis:7-alpine
    container_name: redis-pft
    ports:
      - "6379:6379"
